
.main {
  padding: 0px 10px;
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 20px #d2d2d2;
  box-shadow: 0 0 20px #d2d2d2;
}
.container {
  
}
.nav-list {
  font-size: 17px;
}
.nav-header {
  font-size: 17px;
  text-transform: none;
  line-height: 30px;
}
.sidebar-header-2 { margin-left: 5px; }
.sidebar-header-3 { margin-left: 10px; }
.sidebar-header-4 { margin-left: 15px; }
.sidebar-header-5 { margin-left: 20px; }

li a{color:blue!important;}
h3 {color:green!important;}

h2{
  color:red;
  border:1px groove blue;
  border-radius: 40px;
  max-width:65%;
  padding-left:20px;
}
li.sidebar-header-2 a{
  padding-left:unset;
  margin-left:unset;
  color:orangered!important;
  font-size: 1.2rem;

}
div.span3 *{
color:orangered;  
}